.favourite-container{

    display: flex;
    flex-direction: row;
}
.favorite-products {
    margin-top: 20px;
    border: 1px solid  #E1E6EF;
    border-radius: 0px 20px 20px;
    width: 890px;
    height: 550px;
} 
.products-coatainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0px; 
    /* margin: 20px; */
    gap:20px;
}
.favtitle{
    color: #00A9E8;
    font-weight: 500;
    font-size: 20px;
}

.product-card {
    gap:0px;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    text-align: center;
    border-radius: 12px ;
    border: 1px 0px 0px 0px;
    opacity: 0px;    
}

.product-card img{
    width:100%;
    height:auto;
    border-radius: 12px;
}

.product-name {
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    text-align: center;
    gap: 0px;
    opacity: 0px;
    /* margin-top: 10px; */
}
.product-info{
    text-align: center;
    height: 38px;
}

.product-price {
    background-color: white; 
    position: absolute;
    bottom: 45px; 
    right: 12px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
    padding: 3px 8px 3px 8px;
    border-radius: 99px 99px 99px 99px;
    font-weight: 500;
    line-height: 25px;
    text-align: center;

}
.favorite-title{
    padding-bottom:20px;
    font-size: 20px;
    /* margin-bottom: 10px; */
    font-weight: 100;
    color: #00A9E8;
    /* margin-left: 20px; */
}
/* .favorite-title p{
    padding:0;  
    margin:0;
} */
.favorite-icon {
    font-size: 24px;
    color: #00A9E8;
    position: absolute;
    top: 10px;
    right: 12px;
    cursor: pointer;
    gap: 8px;
    border-radius: 99px;
    opacity: 0px;
    background-color: white;
  }